.products-page {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 30px;
  padding: 20px 40px;
  background-color: #fafafa;
}

.sidebar {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  height: fit-content;
  position: sticky;
  top: 20px;
}

.sidebar h2 {
  margin-bottom: 15px;
  font-size: 1.3rem;
  font-weight: 700;
  color: #333;
  cursor: pointer;
}

.category-box {
  margin-bottom: 18px;
}

.category-box h3 {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  transition: color 0.2s;
}

.category-box h3:hover,
.category-box h3.active {
  color: #0077ff;
}

.sub-list {
  list-style: none;
  margin: 5px 0 0 12px;
  padding: 0;
}

.sub-list li {
  cursor: pointer;
  font-size: 0.9rem;
  color: #666;
  margin: 6px 0;
  transition: color 0.2s ease;
}

.sub-list li:hover,
.sub-list li.active {
  color: #0077ff;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 25px;
}

@media (max-width: 800px) {
  .products-page {
    grid-template-columns: 1fr;
  }

  .sidebar {
    position: relative;
    top: 0;
    order: -1;
  }

  .product-grid {
    margin: auto;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 820px) and (max-width: 999px) {
  .products-page {
    grid-template-columns: 1fr;
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .products-page {
    grid-template-columns: 400px 1fr;
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (min-width: 1300px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
